<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-7">Welcome to Team Star's Survey Site, where your wildest dreams will come true!</h1>
        <p class="lead">Well, maybe not. But at least you can make surveys and share them with friends.</p>
        <hr class="my-2">
        <p>Click the button below to get started.</p>
        <p class="lead">
          <a class="btn btn-primary" href="/survey-list/add" role="button">Create Survey</a>
        </p>
      </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>